# 1. print hello python

In [ ]:
print ("hello python")

hello python

# 2. arithmetic

In [ ]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5%2)
print(5//2)            # for print integer part only
print(5**2)            # for power

print("\n\n")         # \n for new line

#Using variable

a=5
b=2

print (a+b)
print (a-b)
print (a*b)
print (a/b)
print (a%b)
print (a//b)     # floor[point er ager digit]
print (a**b)

7
3
10
2.5
1
2
25



7
3
10
2.5
1
2
25

# 3. area of triangle

In [ ]:
def area_of_triangle(b, h):
    return 0.5 * b * h


b = 5
h = 10
area = area_of_triangle(b, h)
print(f"The area of the triangle is: {area}")

# 4. qudratic equ

In [ ]:
    # import complex math module
import cmath
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))


d = (b**2) - (4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

# 5. swap

In [ ]:
a=int(input("a = "))
b=int(input("b = "))
a,b=b,a
print(f"a={a},b={b}")

a = 4
b = 5
a=5,b = 4

# 6. random num

In [ ]:
import random


random_integer = random.randint(1, 10)
print(f"Random integer: {random_integer}")

#7.km to mile

In [ ]:
km=float(input("enter a number: "))

mile=round(km*0.621371,2)
print(f"{km} km is: {mile } mile")

#8. C to F

In [ ]:
def c_to_f(c):
    f = (c * 9/5) + 32
    return f


c = float(input("Enter temperature in Celsius: "))

f = c_to_f(c)


print(f"{c} 째C is equal to {f} 째F")

Enter temperature in Celsius: 45
45.0 째C is equal to 113.0 째F

# 9. calender

In [ ]:
import calendar

y=int(input("enter the year: "))
m=int(input("enter the month: "))

print(calendar.month(y,m))

enter the year: 1999
enter the month: 10
    October 1999
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

#10. pos / neg/ zero

In [ ]:
a=int(input("enter a number: "))
if(a>0):
    print("positive")
elif(a==0):
    print("zero")
else:
    print("negative")

#11. even or odd

In [ ]:
a=int(input("enter a number: "))
if(a%2==0):
    print("even")

else:
    print("odd")

enter a number: 8
even

#12. leap year

In [ ]:
def is_leap_year(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

year = int(input("Enter a year: "))
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

#13. prime num

In [ ]:
is_prime=lambda n:n>1 and all(n%i!=0 for i in range(2,int(n**0.5)+1))
print(is_prime(2))
print(is_prime(3))

True
True

#14. all prime in an interval

In [ ]:
def primes(start, end):
    for num in range(start, end + 1):
        is_prime = True
        if num < 2:
            continue
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num)
start = 10
end = 50
primes(start, end)

#15. factorial

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = 5
print("The factorial of", num, "is", factorial(num))

#16. multi_table

In [ ]:
x=int(input("enter a number: "))
for i in range(1,11):
    print(f"{x} X {i} ={x*i}")

#17. fibonacci

In [ ]:
def fibonacci(n):
    s = [0, 1]
    while len(s) < n:
        s.append(s[-1] + s[-2])
    return s

n = int(input("Enter the number of terms: "))
print(fibonacci(n))

Enter the number of terms: 8
[0, 1, 1, 2, 3, 5, 8, 13]

#18. check armstrong

In [ ]:
x= int(input("enter a number: "))
a=str(x)
l=len(a)
c=0
for i in a:
 i=int(i)
 c=c+i**l
print(c)
if (c==x):
 print(f"{x} is an armstrong number.")
else:
 print(f"{x} is not an armstrong number.")

#19. find armstrong

In [ ]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
for num in range(lower,upper + 1):
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** 3
       temp //= 10
       if num == sum:
            print(num)

#20. sum

In [ ]:
x=(int(input("enter a number: ")))
count=0
for i in range(1,x+1):
    count=count+i
print(count)

#21. reverse str

In [ ]:
def reverse_string(s):
    return s[::-1]
print(reverse_string("hello,world"))

#22. sum of first ten natural num

In [ ]:
sum = 0
for i in range(1, 11):
    sum += i
print("The sum of the first ten natural numbers is:", sum)

#23. LCM

In [ ]:
import math

def lcm(a, b):
    return abs(a * b) // math.gcd(a, b)

num1 = 12
num2 = 15
print(f"LCM of {num1} and {num2} is {lcm(num1, num2)}")

#24. HCF

In [ ]:
def hcf(a, b):
    while b != 0:
        a, b = b, a % b
    return a

num1 = 48
num2 = 18
print(f"HCF of {num1} and {num2} is {hcf(num1, num2)}")

#25. dec to bin, oct, hex

In [ ]:
x=input("enter a decimal number:")

print(f"the binary of {x} is {bin(int(x))}")

print(f"the octal of {x} is {oct(int(x))}")

print(f"the hexadecimal of {x} is{hex(int(x))}")

enter a decimal number:20
the binary of 20 is 0b10100
the octal of 20 is 0o24
the hexadecimal of 20 is0x14

#26. ASCII value

In [ ]:
a = input("Please enter a character: ")

print ("The ASCII value of '" + a + "' is ", ord(a))

Please enter a character: d
The ASCII value of 'd' is  100

# 27. calculator

In [ ]:
def add(P, Q):
       # This function is used for adding two numbers
 return P + Q
def subtract(P, Q):
       # This function is used for subtracting two numbers
       return P - Q
def multiply(P, Q):
       # This function is used for multiplying two numbers
       return P * Q
def divide(P, Q):
       # This function is used for dividing two numbers
       return P / Q
    # Now we will take inputs from the user
print ("Please select the operation.")
print ("a. Add")
print ("b. Subtract")
print ("c. Multiply")
print ("d. Divide")

choice = input("Please enter choice (a/ b/ c/ d): ")

num_1 = int (input ("Please enter the first number: "))
num_2 = int (input ("Please enter the second number: "))

if choice == 'a':
       print (num_1, " + ", num_2, " = ", add(num_1, num_2))

elif choice == 'b':
       print (num_1, " - ", num_2, " = ", subtract(num_1, num_2))

elif choice == 'c':
       print (num1, " * ", num2, " = ", multiply(num1, num2))
elif choice == 'd':
       print (num_1, " / ", num_2, " = ", divide(num_1, num_2))
else:
       print ("This is an invalid input")

Please select the operation.
a. Add
b. Subtract
c. Multiply
d. Divide
Please enter choice (a/ b/ c/ d): a
Please enter the first number: 75
Please enter the second number: 25
75  +  25  =  100

#28. fibonacci recursion

In [ ]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib_seq = fibonacci(n - 1)
        fib_seq.append(fib_seq[-1] + fib_seq[-2])
        return fib_seq

# Specify the number of Fibonacci terms you want
num_terms = 10
fib_sequence = fibonacci(num_terms)
print(f"Fibonacci sequence with {num_terms} terms: {fib_sequence}")

Fibonacci sequence with 10 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#29. fact recursion

In [ ]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Input number for which you want to find the factorial
num = 5  # Change this to any non-negative integer
result = factorial(num)
print(f"The factorial of {num} is: {result}")

#30. power

In [ ]:
a=int(input("enter the base: "))
b=int(input("enter the power: "))

print( a**b)

enter the base: 5
enter the power: 3
5^3 = 125

## 31. add matrices

In [ ]:
X = [[1,2,3],
           [4,5,6],
           [7,8,9]]

Y = [[10,11,12],
           [13,14,15],
           [16,17,18]]

Result = [[0,0,0],
        [0,0,0],
        [0,0,0]]
    # iterate through rows
for i in range(len(X)):
       # iterate through columns
       for j in range(len(X[0])):
           Result[i][j] = X[i][j] + Y[i][j]
for r in Result:
       print(r)

[11, 13, 15]
[17, 19, 21]
[23, 25, 27]

#32. miutiply matrix

In [ ]:
a = [[1,2,3],
        [4,5,6],
        [7,8,9]]
b = [[0,0,1],
       [0,1,0],
       [1,0,0]]
res = [[0,0,0],
         [0,0,0],
         [0,0,0]]
for i in range(len(a)):
   for j in range(len(b[0])):
       for k in range(len(b)):
           res[i][j] += a[i][k] * b[k][j]
for r in res:
   print(r)

# 33. transpose matrix

In [ ]:
A = [[5, 4, 3],
    [2, 4, 6],
    [4, 7, 9],
    [8, 1, 3]]

transResult = [[0, 0, 0, 0],
                                 [0, 0, 0, 0],
                                 [0, 0, 0, 0]]
    # Use nested for loop on matrix A
for a in range(len(A)):
       for b in range(len(A[0])):
              transResult[b][a] = A[a][b]
    # Printing result in the output
print("The transpose of matrix A is: ")
for res in transResult:
       print(res)

The transpose of matrix A is:
[5, 2, 4, 8]
[4, 4, 7, 1]
[3, 6, 9, 3]

# 34. sort word in alphabetically

In [ ]:
def sort_alphabetically(sentence):
    words=sentence.split()
    words.sort()
    return words
print(sort_alphabetically("my name is sithi"))

#35. remove punctuation

In [ ]:
import string

def remove_punctuation(text):
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

print(remove_punctuation(str(input(" enter a string "))))

#36. list to str

In [ ]:
list = ['Hello', 'World']
string = ''
for element in list:
    string += element + ' '
print(string)

#37. int to str

In [ ]:
n = 10
print(type(n))
converted_n = str(n)
print(type(converted_n))

#38. concatenation

In [ ]:
a="he"
b="llo"

c=a+b
print(c)

hello

#39. random str

In [ ]:
import random
import string

def generate_random_string(length):
    return ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length))
print("Random string of length 5: ", generate_random_string(5))

#40. palindrome str

In [ ]:
def is_palindrome(s):
    return s.replace(" ", "").lower() == s.replace(" ", "").lower()[::-1]
input_str = input("Enter a string: ")
if is_palindrome(input_str):
    print(f"'{input_str}' is a palindrome.")
else:
    print(f"'{input_str}' is not a palindrome.")

Enter a string: lala
'lala' is not a palindrome.

#41. uppercase lowercase

In [ ]:
def convert_case(s):

    converted_string = ''.join(char.upper() if char.islower() else char.lower() for char in s)
    return converted_string

print(convert_case("Hello World! This is Python."))

hELLO wORLD! tHIS IS pYTHON.

#42. substring

In [ ]:
main_string = "Hello, hello, hello, hello world!"
sub_string = "hello"
occurrences = main_string.lower().count(sub_string.lower())

print(f"The substring '{sub_string}' occurs {occurrences} times in the string.")

#43. Append

In [ ]:
list=[1,4,3,'sithi']

list.append('sumu')

print (list)

[1, 4, 3, 'sithi', 'sumu']

#44 compare two list

In [ ]:
list1 = [11, 12, 13, 14, 15]
list2 = [12, 13, 11, 15, 14]

a = set(list1)
b = set(list2)

if a == b:
    print("The list1 and list2 are equal")
else:
    print("The list1 and list2 are not equal")

The list1 and list2 are equal

#45. list to dict

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruit_dict = {}


for idx, fruit in enumerate(fruits):
    fruit_dict[idx] = fruit

print(fruit_dict)

{0: 'apple', 1: 'banana', 2: 'cherry'}

#46. remove item from list

In [ ]:
list = [1, 8, 4, 9]
print("Original list:", list)
list.remove(4)
print("List after remove:", list)

Original list: [1, 8, 4, 9]
List after remove: [1, 8, 9]

#47. Add 2 list

In [ ]:
a=[1,3,7,4]
b=[2,4,7,6]
a.extend(b)
print(a)

#48. list to set

In [ ]:
a=[1,2,3,5,4,3]
b=set(a)
print(b)
print(type(b))

{1, 2, 3, 4, 5}
<class 'set'>

#49. list to str

In [ ]:
list = ['apple', 'banana', 'cherry']
string = f"{' '.join(list)}"
print(string)

apple banana cherry

#50. remove duplicates from list

In [ ]:
my_list = [1, 2, 3, 1, 2, 4]
unique_list = list(set(my_list))
print(unique_list)